@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@800&family=Lexend:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

.header {
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(131, 40, 78, 0.78), rgba(131, 40, 78, 0.78)), url(../assets/imagenes/foto-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.5s;
  z-index: 1; }
  .header .titulo-h1 {
    font-family: "Lexend Tera", sans-serif;
    font-size: 20px;
    padding-top: 18px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center; }
  .header .navigation .menu {
    background-color: #741a40;
    border: 1px solid #828073;
    list-style: none;
    transition: all 0.5s;
    align-items: center; }
  .header .navigation .checkbtn {
    color: white;
    width: 50px;
    float: right;
    height: 50px;
    cursor: pointer;
    padding-top: 18px; }
    .header .navigation .checkbtn:active, .header .navigation .checkbtn::after {
      transform: scale(1.2);
      background-color: #741a40;
      border-radius: 25px;
      transition: 0.01s; }
    .header .navigation .checkbtn i {
      font-size: 50px;
      justify-content: end; }
  .header .navigation #check {
    display: none; }
  .header .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 250px;
    top: 100px;
    left: -105%;
    text-align: center;
    float: right;
    z-index: 1;
    transition: all 0.5s;
    font-family: "Lexend", sans-serif;
    font-style: normal; }
    .header .navigation ul li {
      display: flex;
      display: block;
      margin: 10px 0;
      line-height: 30px;
      transition: 0.5s;
      text-decoration: none;
      color: #FFFFFF; }
      .header .navigation ul li a {
        color: white;
        display: block;
        padding: 0 0 0 0;
        font-size: 20px;
        font-weight: 700;
        transition: all 0.2s;
        list-style: none;
        text-decoration: none; }
        .header .navigation ul li a:hover {
          color: rgba(219, 216, 187, 0.47); }
        .header .navigation ul li a .active {
          color: rgba(219, 216, 187, 0.47); }
    .header .navigation ul .main-menu__link {
      position: relative;
      transition: all 0.4s; }
    .header .navigation ul ::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: rgba(219, 216, 187, 0.47);
      position: absolute;
      right: 0px;
      bottom: -5px;
      opacity: 0;
      transition: all 0.35s ease;
      pointer-events: none; }
    .header .navigation ul .main-menu__link:hover::before,
    .header .navigation ul .main-menu__link:focus::before {
      opacity: 1; }
  .header .navigation #check:checked ~ ul {
    left: 0; }

.main-index .section-1 {
  width: 100%;
  height: 500px;
  background-image: url(../assets/imagenes/viñedo-index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .main-index .section-1 .parrafo p {
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 900;
    line-height: 15px;
    text-align: center;
    color: black; }
  .main-index .section-1 .container-input {
    position: relative;
    padding-left: 55px;
    padding-top: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
    align-items: center; }
    .main-index .section-1 .container-input svg {
      position: absolute;
      top: 28px;
      left: 65px;
      transform: translate(0, 10%); }
    .main-index .section-1 .container-input input {
      width: 150px;
      padding: 10px 0px 10px 40px;
      border-radius: 9999px;
      border: solid 1px #333;
      transition: all .2s ease-in-out;
      outline: none;
      opacity: 0.8;
      box-shadow: 0 0 5px #741a40; }
      .main-index .section-1 .container-input input:focus {
        opacity: 1;
        width: 250px; }

.main-index .bodegas {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(2, autofill);
  grid-template-rows: repeat(4, 91px);
  justify-content: center;
  align-items: center;
  grid-template-areas: none;
  background: #d6d4b8;
  gap: 10px; }
  .main-index .bodegas h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    font-weight: 900;
    text-align: center;
    color: black; }
  .main-index .bodegas .bodega-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    width: 150px; }
  .main-index .bodegas .bodega-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
    width: 150px; }
  .main-index .bodegas .bodega-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    width: 150px; }
  .main-index .bodegas .bodega-4 {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: center;
    width: 150px; }
  .main-index .bodegas .bodega-5 {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-content: center;
    width: 150px; }
  .main-index .bodegas .bodega-6 {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: center;
    width: 135px; }

.main-catalogo {
  background-color: rgba(219, 216, 187, 0.47);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px repeat(11, 150px);
  justify-content: center;
  align-items: center;
  grid-template-areas: none; }
  .main-catalogo .titulo-catalogo {
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(21, 15, 15, 0.61);
    mix-blend-mode: normal; }
  .main-catalogo .contenedor-productos {
    grid-column: 1/4;
    grid-row: 2/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    gap: 20px; }
    .main-catalogo .contenedor-productos .contenedor-productos {
      align-items: center; }
    .main-catalogo .contenedor-productos .cards {
      width: 250px;
      height: 254px;
      border-radius: 50px;
      background: #ffffff;
      box-shadow: 5px 5px 5px #741a40, -20px -20px 60px rgba(219, 216, 187, 0.47); }
      .main-catalogo .contenedor-productos .cards .cards-body {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main-catalogo .contenedor-productos .cards .cards-body h4 {
          text-align: center;
          font-weight: 600; }
        .main-catalogo .contenedor-productos .cards .cards-body p {
          text-align: center; }
      .main-catalogo .contenedor-productos .cards img {
        width: 150px;
        height: 150px;
        margin-left: 50px; }

.main-contacto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 100px);
  justify-content: center;
  align-items: center;
  grid-template-areas: none;
  background-color: rgba(219, 216, 187, 0.47); }
  .main-contacto .contacto-form {
    padding: 0px 20px;
    border-radius: 10px;
    grid-column: 1/6;
    grid-row: 2/5; }
    .main-contacto .contacto-form label {
      color: rgba(21, 15, 15, 0.61);
      font-family: "Lexend", sans-serif;
      font-weight: 600; }
    .main-contacto .contacto-form .contacto-titulo {
      grid-column: 1/6;
      grid-row: 1/2;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 10px;
      text-align: center;
      text-decoration-line: underline;
      color: rgba(21, 15, 15, 0.61);
      mix-blend-mode: normal;
      font-family: "Lexend", sans-serif;
      font-size: 20px;
      color: rgba(21, 15, 15, 0.61);
      font-weight: 600;
      text-align: center;
      text-decoration-line: underline; }
    .main-contacto .contacto-form form {
      padding-top: 20px;
      display: flex;
      flex-direction: column; }
      .main-contacto .contacto-form form textarea {
        resize: none;
        height: 80px;
        width: 200px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px; }
      .main-contacto .contacto-form form textarea:focus {
        outline: none;
        box-shadow: 0 0 5px #741a40;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out; }
      .main-contacto .contacto-form form input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px; }
      .main-contacto .contacto-form form input:focus {
        outline: none;
        box-shadow: 0 0 5px #741a40;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out; }
  .main-contacto .section-contacto {
    grid-column: 1/5;
    grid-row: 4/8; }

.main-nosotros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 120px);
  justify-content: center;
  align-items: center;
  grid-template-areas: none;
  background-color: rgba(219, 216, 187, 0.47); }
  .main-nosotros .titulo-nosotros {
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(21, 15, 15, 0.61);
    mix-blend-mode: normal; }
  .main-nosotros .parrafo-nosotros {
    margin: 0px 30px;
    grid-column: 1/6;
    grid-row: 2/5;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: rgba(21, 15, 15, 0.61); }
  .main-nosotros .imagenes-nosotros {
    grid-column: 2/5;
    grid-row: 5/8; }
    .main-nosotros .imagenes-nosotros .vino-nosotros {
      width: 100%;
      border-radius: 8px; }
    .main-nosotros .imagenes-nosotros .viñedo-nosotros {
      width: 100%;
      border-radius: 8px; }

.main-servicios {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 140px);
  justify-content: center;
  align-items: center;
  grid-template-areas: none;
  background-color: rgba(219, 216, 187, 0.47); }
  .main-servicios .titulo-servicios {
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(21, 15, 15, 0.61);
    mix-blend-mode: normal; }
  .main-servicios .parrafo-servicios {
    margin: 0px 10px;
    grid-column: 1/6;
    grid-row: 1/8;
    display: flex;
    flex-wrap: wrap;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: rgba(21, 15, 15, 0.61); }
    .main-servicios .parrafo-servicios .section-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .main-servicios .parrafo-servicios .section-1 .imagen-servicio-1 {
        width: 100px; }
    .main-servicios .parrafo-servicios .section-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .main-servicios .parrafo-servicios .section-2 .imagen-servicio-2 {
        width: 150px; }
    .main-servicios .parrafo-servicios .section-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .main-servicios .parrafo-servicios .section-3 .imagen-servicio-3 {
        width: 150px; }

footer {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px; }
    footer div p {
      display: none; }
    footer div a i {
      font-size: 20px; }
    footer div .iconos-copa {
      font-size: 20px; }

.boton-violeta, .main-catalogo .contenedor-productos .cards .cards-body a button, .main-contacto .contacto-form form .boton {
  background-color: #741a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-items: center; }
  .boton-violeta:hover, .main-catalogo .contenedor-productos .cards .cards-body a button:hover, .main-contacto .contacto-form form .boton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; }

@media screen and (min-width: 375px) {
  .header .titulo-h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 25px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center; }
  main .container-input input {
    width: 200px; }
    main .container-input input:focus {
      width: 250px; }
  .parrafo p b {
    font-size: 20px; } }

@media screen and (min-width: 425px) {
  .header .titulo-h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 25px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center; }
  main .container-input input {
    width: 250px; }
    main .container-input input:focus {
      opacity: 1;
      width: 300px; }
  .parrafo p b {
    font-size: 15px; }
  .footer-flex {
    gap: 45px; } }

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend', sans-serif; }
    .header .titulo-h1 {
      font-size: 35px;
      padding-top: 35px;
      line-height: 35px;
      color: #FFFFFF;
      text-align: center; }
  .main-index .section-1 {
    width: 100%;
    height: 500px;
    background-image: url(../assets/imagenes/viñedo-index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .main-index .section-1 .container-input {
      padding-left: 100px; }
      .main-index .section-1 .container-input svg {
        left: 110px; }
      .main-index .section-1 .container-input input:focus {
        opacity: 1;
        width: 580px; }
  .footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px; }
    .footer-flex p {
      display: block;
      color: #DBD8BB;
      text-decoration: none;
      font-family: 'Lexend';
      font-style: normal;
      font-size: 10px;
      margin: 5px; } }

@media screen and (min-width: 1024px) {
  .header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend', sans-serif; }
    .header .titulo-h1 {
      font-size: 50px;
      padding-top: 35px;
      line-height: 35px;
      color: #FFFFFF;
      text-align: center; }
    .header .navigation .checkbtn {
      display: none; }
    .header .navigation .menu {
      background-color: transparent;
      border: transparent;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-family: 'Lexend', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      gap: 40px; }
    .header .navigation ul {
      width: 100%;
      position: relative;
      height: 50px;
      top: 0;
      left: 0%;
      flex-direction: row;
      transition: none;
      text-align: center;
      margin-top: 0;
      align-items: center;
      justify-content: center; }
  .main-index .section-1 .parrafo p {
    padding-top: 30px;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    line-height: 15px;
    text-align: center;
    color: black; }
  .main-index .section-1 .container-input {
    padding-left: 100px; }
    .main-index .section-1 .container-input svg {
      left: 110px; }
    .main-index .section-1 .container-input input:focus {
      opacity: 1;
      width: 850px; }
  .main-index .bodegas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 150px;
    justify-content: center;
    align-items: center;
    grid-template-areas: none;
    background: #d6d4b8;
    gap: 10px; }
    .main-index .bodegas h2 {
      grid-column: 1/7;
      grid-row: 1/2;
      font-size: 20px;
      line-height: 15px;
      font-weight: 900;
      text-align: center;
      color: black; }
    .main-index .bodegas .bodega-1 {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-content: center;
      width: 150px; }
      .main-index .bodegas .bodega-1:hover {
        scale: 1.2; }
    .main-index .bodegas .bodega-2 {
      grid-row: 2/3;
      grid-column: 2/3;
      justify-content: center;
      width: 150px; }
      .main-index .bodegas .bodega-2:hover {
        scale: 1.2; }
    .main-index .bodegas .bodega-3 {
      grid-row: 2/3;
      grid-column: 3/4;
      justify-content: center;
      width: 150px; }
      .main-index .bodegas .bodega-3:hover {
        scale: 1.2; }
    .main-index .bodegas .bodega-4 {
      grid-row: 2/3;
      grid-column: 4/5;
      justify-content: center;
      width: 120px;
      padding-bottom: 30px; }
      .main-index .bodegas .bodega-4:hover {
        scale: 1.2; }
    .main-index .bodegas .bodega-5 {
      grid-row: 2/3;
      grid-column: 5/6;
      justify-content: center;
      width: 130px; }
      .main-index .bodegas .bodega-5:hover {
        scale: 1.2; }
    .main-index .bodegas .bodega-6 {
      grid-row: 2/3;
      grid-column: 6/7;
      justify-content: center;
      width: 125px; }
      .main-index .bodegas .bodega-6:hover {
        scale: 1.2; }
  .footer-flex {
    gap: 7px; }
    .footer-flex p {
      font-size: 13px; } }

@media screen and (min-width: 1440px) {
  .header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend', sans-serif; }
    .header .titulo-h1 {
      font-size: 50px;
      padding-top: 35px;
      line-height: 35px;
      color: #FFFFFF;
      text-align: center; }
  .main-index .section-1 .parrafo p {
    padding-top: 30px;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    line-height: 15px;
    text-align: center;
    color: black; }
  .main-index .section-1 .container-input {
    padding-left: 100px; }
    .main-index .section-1 .container-input svg {
      left: 110px; }
    .main-index .section-1 .container-input input:focus {
      opacity: 1;
      width: 850px; }
  .footer-flex {
    gap: 7px; }
    .footer-flex p {
      font-size: 13px; } }
