$poppins: 'Poppins', sans-serif;
$lexend-tera: 'Lexend Tera', sans-serif;
$lexend: 'Lexend', sans-serif;
$bg-header: linear-gradient(0deg, rgba(131, 40, 78, 0.78), rgba(131, 40, 78, 0.78)), url(../assets/imagenes/foto-header.jpg);
$bg-index: linear-gradient(0deg, rgba(219, 216, 187, 0.47), rgba(219, 216, 187, 0.47)), url(../assets/imagenes/foto-index.jpg);
$bg-section1: url(../assets/imagenes/viñedo-index.jpg);
$bg-main-resto: rgba(219, 216, 187, 0.47);
$bg-parrafos: rgba(219, 216, 187, 0.818);
$bg-busqueda:rgba(219, 216, 187, 0.47);
$bg-cards: rgba(21, 15, 15, 0.61);
$bg-footer: black;