@media screen and (min-width:768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lexend', sans-serif;

        .titulo-h1 {
            font-size: 35px;
            padding-top: 35px;
            line-height: 35px;
            color: #FFFFFF;
            text-align: center;
        }
    }

    .main-index {
        .section-1 {
            width: 100%;
            height: 500px;
            background-image: $bg-section1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .container-input {
                padding-left: 100px;

                svg {
                    left: 110px;
                }

                input {
                    &:focus {
                        opacity: 1;
                        width: 580px;

                    }
                }
            }
        }
    }


    .footer-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        p {
            display: block;
            color: #DBD8BB;
            text-decoration: none;
            font-family: 'Lexend';
            font-style: normal;
            font-size: 10px;
            margin: 5px;
        }
    }
}