@media screen and (min-width:1440px) {
    .header {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lexend', sans-serif;

        .titulo-h1 {
            font-size: 50px;
            padding-top: 35px;
            line-height: 35px;
            color: #FFFFFF;
            text-align: center;
        }

    }

    .main-index {
        .section-1{
            .parrafo {
                p {
                    padding-top: 30px;
                    font-family: $lexend;
                    font-style: normal;
                    font-size: 20px;
                    font-weight: 900;
                    line-height: 15px;
                    text-align: center;
                    color: black
                }
            }
            .container-input {
                padding-left: 100px;
    
                svg {
                    left: 110px;
                }
    
                input {
                    &:focus {
                        opacity: 1;
                        width: 850px;
            
                    }
                }
            }
        }


    }
    .footer-flex {
        gap: 7px;
        p{
            font-size: 13px;
        }
    }
}