@media screen and (min-width:1024px) {
    .header {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lexend', sans-serif;

        .titulo-h1 {
            font-size: 50px;
            padding-top: 35px;
            line-height: 35px;
            color: #FFFFFF;
            text-align: center;
        }

        .navigation {
            .checkbtn {
                display: none;
            }

            .menu {
                background-color: transparent;
                border: transparent;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                font-family: 'Lexend', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                gap: 40px;

            }

            ul {
                width: 100%;
                position: relative;
                height: 50px;
                top: 0;
                left: 0%;
                flex-direction: row;
                transition: none;
                text-align: center;
                margin-top: 0;
                align-items: center;
                justify-content: center;
                // flex-direction: row;
                // justify-content: space-around;
                // align-items: center;
                // font-family: 'Lexend', sans-serif;
                // font-style: normal;
                // font-weight: 400;
                // font-size: 20px;
                // text-align: center;
                // gap: 40px;
            }

        }
    }

    .main-index {
        .section-1 {
            .parrafo {
                p {
                    padding-top: 30px;
                    font-family: $lexend;
                    font-style: normal;
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 15px;
                    text-align: center;
                    color: black
                }
            }

            .container-input {
                padding-left: 100px;

                svg {
                    left: 110px;
                }

                input {
                    &:focus {
                        opacity: 1;
                        width: 850px;

                    }
                }
            }
        }

        .bodegas {
            @include grid (repeat(6, 1fr), 50px 150px, center, center, none);
            background: rgb(214, 212, 184);
            gap: 10px;

            h2 {
                grid-column: 1/7;
                grid-row: 1/2;
                font-size: 20px;
                line-height: 15px;
                font-weight: 900;
                text-align: center;
                color: black
            }

            .bodega-1 {
                grid-row: 2/3;
                grid-column: 1/2;
                justify-content: center;
                width: 150px;

                &:hover {
                    scale: 1.2;
                }
            }

            .bodega-2 {
                grid-row: 2/3;
                grid-column: 2/3;
                justify-content: center;
                width: 150px;

                &:hover {
                    scale: 1.2;
                }
            }

            .bodega-3 {
                grid-row: 2/3;
                grid-column: 3/4;
                justify-content: center;
                width: 150px;

                &:hover {
                    scale: 1.2;
                }
            }

            .bodega-4 {
                grid-row: 2/3;
                grid-column: 4/5;
                justify-content: center;

                &:hover {
                    scale: 1.2;
                }
            }

            .bodega-5 {
                grid-row: 2/3;
                grid-column: 5/6;
                justify-content: center;
                width: 130px;

                &:hover {
                    scale: 1.2;
                }
            }

            .bodega-6 {
                grid-row: 2/3;
                grid-column: 6/7;
                justify-content: center;
                width: 130px;

                &:hover {
                    scale: 1.2;
                }
            }
        }

    }


    .footer-flex {
        gap: 7px;

        p {
            font-size: 13px;
        }
    }
}