@media screen and (min-width:375px) {
    .header{
        .titulo-h1 {
            font-size: 25px;
            padding-top: 20px;
            padding-left: 25px;
            line-height: 35px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    main {
        .container-input {
            input {
                width: 200px;
                &:focus {
                    width: 250px;
                    }
            }
        }
    }
    .parrafo {
        p {
            b {
                font-size: 14px;
                
            }
            }
        }
}
