.boton-violeta{
    background-color:  rgb(116, 26, 64);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    &:hover{
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
}