.header {
    width: 100%;
    height: 100px;
    background: $bg-header;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.5s;
    z-index: 1;

    .titulo-h1 {
        font-family: $lexend-tera;
        font-size: 20px;
        padding-top: 18px;
        line-height: 35px;
        color: #FFFFFF;
        text-align: center;
    }

    .navigation {
        
        .menu {
            background-color: rgb(116, 26, 64);
            border: 1px solid rgb(130, 128, 115);
            list-style: none;
            transition: all 0.5s;
            align-items: center;
            
            }

        .checkbtn {
            color: white;
            width: 50px;
            float: right;
            height: 50px;
            cursor: pointer;
            padding-top: 18px;

            &:active,
            &::after {
                transform: scale(1.20);
                background-color: rgb(116, 26, 64);
                border-radius: 25px;
                transition: 0.01s;
            }

            i {
                font-size: 50px;
                justify-content: end;
            }
        }

        #check {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 250px;
            top: 100px; 
            left: -105%;
            text-align: center;
            float: right;
            z-index: 1;
            transition: all 0.5s;
            font-family: $lexend;
            font-style: normal;
            

            li {
                display: flex;
                display: block;
                margin: 10px 0;
                line-height: 30px;
                transition: 0.5s;
                text-decoration: none;
                color: #FFFFFF;

                a {
                    color: white;
                    display: block;
                    padding: 0 0 0 0;
                    font-size: 20px;
                    font-weight: 700;
                    transition: all 0.2s;
                    list-style: none;
                    text-decoration: none;

                    &:hover {
                        color: rgba(219, 216, 187, 0.47);
                    }
                    .active {
                        color: rgba(219, 216, 187, 0.47);
        
                    }
        
                }
                
            }


            .main-menu__link {
                position: relative;
                transition: all 0.4s;
            }

            ::after {
                content: "";
                height: 2px;
                width: 100%;
                background-color: rgba(219, 216, 187, 0.47);
                position: absolute;
                right: 0px;
                bottom: -5px;
                opacity: 0;
                transition: all 0.35s ease;
                pointer-events: none;
            }

            .main-menu__link:hover::before,
            .main-menu__link:focus::before {
                opacity: 1;
            }
        }

        #check:checked~ul {
            left: 0;
        }
    }
}


// header {
//     background: $bg-header;
//     background-size: cover;
//     background-repeat: no-repeat;
//     div {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         h1 {
//             font-family: $lexend-tera;
//             font-size: 20px;
//             line-height: 40px;
//             color: #FFFFFF;
//         }
//         nav {
//             ul {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 list-style: none;
//                 font-family: 'Lexend', sans-serif;
//                 font-style: normal;
//                 gap: 10px;
//                 li {
//                     a {
//                         text-decoration: none;
//                         color: #FFFFFF;
//                     }
//                 }
//             }
//         }
//     }
// }