.main-nosotros {
    @include grid (repeat(5, 1fr), repeat(7, 120px), center, center, none);
    background-color: rgba(219, 216, 187, 0.47);
    .titulo-nosotros {
        grid-column: 1/6;
        grid-row: 1/2;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 10px;
        text-align: center;
        text-decoration-line: underline;
        color: rgba(21, 15, 15, 0.61);
        mix-blend-mode: normal;
    }

    .parrafo-nosotros {
        margin: 0px 30px;
        grid-column: 1/6;
        grid-row: 2/5;
        font-family: $lexend;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: rgba(21, 15, 15, 0.61);

    }

    .imagenes-nosotros {
        grid-column: 2/5;
        grid-row: 5/8;
        .vino-nosotros {
            width: 100%;
            border-radius: 8px;
            // &:hover{
            //     scale: 1.05; PARA DESKTOP
            // }
        }
        .viñedo-nosotros {
            width: 100%;
            border-radius: 8px;
        }
    }

}

