.contacto-background {
    background-color: $bg-main-resto;
    width: 100%;
    height: 495px;
    background-color: rgba(219, 216, 187, 0.47);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    .foto-contacto {
        display: none;
    }
    .contacto-form {
        padding: 20px;
        border-radius: 10px;
        label {
            color: rgba(21, 15, 15, 0.61);
            font-family: $lexend;
            font-weight: 600;
        }
        .contacto-titulo {
            font-family: $lexend;
            font-size: 20px;
            color: rgba(21, 15, 15, 0.61);
            font-weight: 600;
            text-align: center;
            text-decoration-line: underline;
        }
        form {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            textarea {
                resize: none;
                height: 80px;
                width: 200px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                margin-bottom: 20px;
            }
            textarea:focus {
                outline: none;
                box-shadow: 0 0 5px rgb(116, 26, 64);
                transform: scale(1.05);
                transition: transform 0.3s ease-in-out;
            }
            input {
                padding: 10px;
                border: none;
                border-radius: 5px;
                margin-bottom: 20px;
            }
            input:focus {
                outline: none;
                box-shadow: 0 0 5px rgb(116, 26, 64);
                transform: scale(1.05);
                transition: transform 0.3s ease-in-out;
            }
            button[type="submit"]{
                background-color:  rgb(116, 26, 64);
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
            }
            button:hover{
                transform: scale(1.1);
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}