main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 165px);
    background: $bg-index;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .container-input {
        position: relative;
        padding-left: 35px;
        padding-top: 20px;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: start;
        align-items: center;

        svg {
            position: absolute;
            top: 28px;
            left: 45px;
            transform: translate(0, 10%);
        }

        input {
            width: 200px;
            padding: 10px 0px 10px 40px;
            border-radius: 9999px;
            border: solid 1px #333;
            transition: all .2s ease-in-out;
            outline: none;
            opacity: 0.8;
            box-shadow: 0 0 5px rgb(116, 26, 64);
        }

        input:focus {
            opacity: 1;
            width: 250px;

        }
    }

    .parrafo {
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: end;
        align-items: center;

        p {
            font-family: $lexend;
            font-style: italic;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}