.main-index {
    .section-1 {
        width: 100%;
        height: 500px;
        background-image: $bg-section1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            animation:kenburns-top 10s ease-out both;
        }

        .parrafo {
            p {
                font-family: $lexend;
                font-style: normal;
                font-size: 15px;
                font-weight: 900;
                line-height: 15px;
                text-align: center;
                color: black
            }
        }


        .container-input {
            position: relative;
            padding-left: 55px;
            padding-top: 20px;
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: start;
            align-items: center;

            svg {
                position: absolute;
                top: 28px;
                left: 65px;
                transform: translate(0, 10%);
            }

            input {
                width: 150px;
                padding: 10px 0px 10px 40px;
                border-radius: 9999px;
                border: solid 1px #333;
                transition: all .2s ease-in-out;
                outline: none;
                opacity: 0.8;
                box-shadow: 0 0 5px rgb(116, 26, 64);

                &:focus {
                    opacity: 1;
                    width: 250px;
                }
            }
        }
    }

    .bodegas {
        grid-row: 3/4;
        @include grid (repeat(2, 1fr), repeat(4, 91px), center, center, none);
        justify-items: center;
        background: rgb(214, 212, 184);
        gap: 10px;

        img {
            width: 150px;
        }

        h2 {
            grid-column: 1/3;
            grid-row: 1/2;
            font-family: $lexend;
            font-style: normal;
            font-size: 15px;
            line-height: 15px;
            font-weight: 900;
            text-align: center;
            color: black
        }

        .bodega-1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .bodega-2 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .bodega-3 {

            grid-column: 1/2;
            grid-row: 3/4;
        }

        .bodega-4 {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .bodega-5 {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .bodega-6 {
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }


}